pkgbase = hikvision-viewer
	pkgdesc = PyQt6 multi-stream RTSP viewer for IP cameras
	pkgver = 0.3.0
	pkgrel = 2
	url = https://github.com/uvera/hikvision-viewer
	install = hikvision-viewer.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = mpv
	depends = python-pyqt6
	depends = python-pyyaml
	depends = python-cryptography
	depends = python-keyring
	depends = python-dotenv
	depends = python-mpv
	source = hikvision-viewer-0.3.0.tar.gz
	sha256sums = 91e95964920633d33857034573721a29ed3bd0bb6f22a8979ae66b09fa3b1fed

pkgname = hikvision-viewer
