pkgbase = hikvision-viewer
	pkgdesc = PyQt6 multi-stream RTSP viewer for IP cameras
	pkgver = 0.1.0
	pkgrel = 3
	url = https://github.com/uvera/hikvision-viewer
	install = hikvision-viewer.install
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	depends = mpv
	depends = python-pyqt6
	depends = python-pyyaml
	depends = python-cryptography
	depends = python-keyring
	depends = python-dotenv
	depends = python-mpv
	source = hikvision-viewer-0.1.0.tar.gz::https://github.com/uvera/hikvision-viewer/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = ca6fce7cf473470d27ff4b43c1c19a6c53c878e19759e5d53460e36e4b0f43b0

pkgname = hikvision-viewer
